.c3 svg {
    font: 10px sans-serif;
    direction: rtl;
}

.c3 line, .c3 path {
    fill: none;
    stroke: #000;
    direction: rtl;
}

.c3 text {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    direction: rtl;
}

.c3-bars path, .c3-event-rect, .c3-legend-item-tile, .c3-xgrid-focus, .c3-ygrid {
    shape-rendering: crispEdges;
    direction: rtl;
}

.c3-chart-arc path {
    stroke: #fff;
    direction: rtl;
}

.c3-chart-arc text {
    fill: #fff;
    font-size: 13px;
    direction: rtl;
}

.c3-grid line {
    stroke: #aaa;
    direction: rtl;
}

.c3-grid text {
    fill: #aaa;
    direction: rtl;
}

.c3-xgrid, .c3-ygrid {
    stroke-dasharray: 3 3;
    direction: rtl;
}

.c3-text.c3-empty {
    fill: gray;
    font-size: 2em;
    direction: rtl;
}

.c3-line {
    stroke-width: 1px;
    direction: rtl;
}

.c3-circle._expanded_ {
    stroke-width: 1px;
    stroke: #fff;
    direction: rtl;
}

.c3-selected-circle {
    fill: #fff;
    stroke-width: 2px;
    direction: rtl;
}

.c3-bar {
    stroke-width: 0;
    direction: rtl;
}

    .c3-bar._expanded_ {
        fill-opacity: .75;
        direction: rtl;
    }

.c3-chart-arcs-title {
    dominant-baseline: middle;
    font-size: 1.3em;
    direction: rtl;
}

.c3-target.c3-focused {
    opacity: 1;
    direction: rtl;
}

    .c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
        stroke-width: 2px;
        direction: rtl;
    }

.c3-target.c3-defocused {
    opacity: .3 !important;
    direction: rtl;
}

.c3-region {
    fill: #4682b4;
    fill-opacity: .1;
    direction: rtl;
}

.c3-brush .extent {
    fill-opacity: .1;
    direction: rtl;
}

.c3-legend-item {
    font-size: 12px;
    direction: rtl;
}

.c3-legend-item-hidden {
    opacity: .15;
    direction: rtl;
}

.c3-legend-background {
    opacity: .75;
    fill: #fff;
    stroke: #d3d3d3;
    stroke-width: 1;
    direction: rtl;
}

.c3-tooltip-container {
    z-index: 10;
    direction: rtl;
}

.c3-tooltip {
    border-collapse: collapse;
    border-spacing: 0;
    background-color: #fff;
    empty-cells: show;
    -webkit-box-shadow: 7px 7px 12px -9px #777;
    -moz-box-shadow: 7px 7px 12px -9px #777;
    box-shadow: 7px 7px 12px -9px #777;
    opacity: .9;
    direction: rtl;
}

    .c3-tooltip tr {
        border: 1px solid #CCC;
        direction: rtl;
    }

    .c3-tooltip th {
        background-color: #aaa;
        font-size: 14px;
        padding: 2px 5px;
        text-align: right;
        color: #FFF;
        direction: rtl;
    }

    .c3-tooltip td {
        font-size: 13px;
        padding: 3px 6px;
        background-color: #fff;
        border-right: 1px dotted #999;
        direction: rtl;
    }

        .c3-tooltip td > span {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin-left: 6px;
            direction: rtl;
        }

        .c3-tooltip td.value {
            text-align: left;
            direction: rtl;
        }

.c3-area {
    stroke-width: 0;
    opacity: .2;
    direction: rtl;
}

.c3-chart-arcs .c3-chart-arcs-background {
    fill: #e0e0e0;
    stroke: none;
    direction: rtl;
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
    fill: #000;
    font-size: 16px;
    direction: rtl;
}

.c3-chart-arcs .c3-chart-arcs-gauge-max, .c3-chart-arcs .c3-chart-arcs-gauge-min {
    fill: #777;
    direction: rtl;
}

.c3-chart-arc .c3-gauge-value {
    fill: #000;
    direction: rtl;
}
