@model ForgetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <title>Forget Password</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <link rel="stylesheet" href="~/assets/css/app.css">

    <style>

    </style>
</head>



<body>

    <div id="auth">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 mx-auto">
                    <div class="card pt-4">
                        <div class="card-body">
                            <div class="text-center mb-2">
                                <img src="~/images/favicon.ico" height="75" class='mb-4'>
                            </div>

                            @if (Model?.EmailSent == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    <p>we hve sent an email on your regesterd email.</p>
                                </div>
                            }
                            else
                            {
                                <form asp-action="ForgotPassword">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    @* <div class="form-group position-relative has-icon-left">
                                    <label asp-for="CMP" class="control-label"></label>
                                    <div class="position-relative">
                                    <input asp-for="CMP" class="form-control" />
                                    <div class="form-control-icon">
                                    <i data-feather="user"></i>
                                    </div>
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    </div> *@
                                    <div class="form-group position-relative has-icon-left">
                                        <label asp-for="Email" class="control-label"></label>
                                        <div class="position-relative">
                                            <input asp-for="Email" class="form-control" />
                                            <div class="form-control-icon">
                                                <i data-feather="mail"></i>
                                            </div>
                                        </div>
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>

                                    <div class="clearfix my-4">
                                        <div class="float-start">
                                            <a asp-action="SignIn" asp-controller="Account">Sign In</a>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <input type="submit" value="Sign In" class="btn btn-primary float-end" style="width:100%" />
                                    </div>

                                </form>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/main.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
</body>
</html>
