@model ResetPasswordModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <title>Reset Password</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <link rel="stylesheet" href="~/assets/css/app.css">

    <style>

    </style>
</head>



<body>

    <div id="auth">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 mx-auto">
                    <div class="card pt-4">
                        <div class="card-body">
                            <div class="text-center mb-2">
                                <img src="~/images/favicon.ico" height="75" class='mb-4'>
                            </div>

                            @if (Model?.IsSuccess == true)
                            {
                                <div class="alert alert-success" role="alert">
                                    <p>password reset successfully.</p>
                                </div>

                                <a asp-action="SignIn" asp-controller="Account">SignIn</a>
                            }
                            else
                            {
                                <form asp-action="ResetPassword">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                    <input type="hidden" asp-for="UserId" class="form-control" />
                                    <input type="hidden" asp-for="Token" class="form-control" />

                                    <div class="form-group">
                                        <label asp-for="NewPassword" class="control-label"></label>
                                        <input asp-for="NewPassword" class="form-control" />
                                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="ConfirmNewPassword" class="control-label"></label>
                                        <input asp-for="ConfirmNewPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Reset" class="btn btn-primary" />
                                    </div>
                                </form>

                                <br />
                                <div>
                                    <a asp-action="SignIn" asp-controller="Account">SignIn</a>
                                </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/assets/js/feather-icons/feather.min.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/main.js"></script>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/jquery-validate/jquery.validate.min.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    </environment>
</body>
</html>
